{% extends 'base.html.twig' %}

{% block title %}Book-Collection Acceuil{% endblock %}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">Hello, Book Lovers!</h1>
  <p class="lead">Welcome to our book collection store</p>
  <hr class="my-4">
  <p>Pour avoir plus d'information, rendez-vous sur la page d'inscription</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">s'inscrire</a>
</div>
{% endblock %}
